<div class="bg-white shadow-md rounded-lg overflow-hidden">
    <img src="{{ result.thumbnail_url }}"
         alt="{{ result.title }}"
         class="w-full h-auto cursor-pointer hover:opacity-80 transition"
         onclick="openModal('{{ result.thumbnail_url }}')">
    <div class="p-4">
        <h3 class="text-lg font-semibold text-gray-800">{{ result.title }}</h3>
        <p class="text-sm text-gray-600">{{ result.artist }}</p>
        <p class="text-sm text-gray-500">{{ result.work_types}}</p>
        <p class="text-sm text-gray-500">{{ result.period }}</p>
        {% if result.score is not None %}
        <p class="text-sm text-gray-400">
        Score: {{ result.score }}
            {% if result.score == 1.0 %}
            <span class="ml-2 px-2 py-0.5 text-xs font-medium bg-green-100 text-green-800 rounded-full">
                Target
            </span>
            {% endif %}
        {% endif %}
        </p>
        <a href="{{urls.find_similar}}&query={{ result.object_number }}"
           class="text text-blue-500 hover:underline ">
            Find similar
        </a>
    </div>
</div>
