<div class="relative" x-data="dropdownComponent()">
    <!-- Button -->
    <button
        type="button"
        @click="open = !open"
        class="w-full sm:w-auto px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none flex items-center justify-between space-x-2 hover:bg-gray-100 hover:border-gray-400"
    >
        <span x-text="buttonLabel"></span>
    </button>

    <!-- Dropdown -->
    <div
        x-show="open"
        @click.away="open = false"
        class="absolute right-0 mt-1 w-56 bg-white border border-gray-300 rounded-md shadow-lg z-20"
        x-cloak
    >
        <div class="p-2 space-y-1">
            <!-- Select/Deselect All Option -->
            <label class="flex items-center space-x-2 py-1 font-semibold text-gray-700 hover:bg-gray-100">
                <input type="checkbox"
                    @click="toggleSelectAll()"
                    :checked="selectedWorkTypes.length === allWorkTypes.length"
                    class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                <span class="text-nowrap">Select All <span class="text-gray-600 font-normal">({{work_count.total}} works)</span></span>
            </label>

            <!-- Individual Artwork Type Options -->
            {% for work_type, count in work_count.work_types.items %}
            <label class="flex items-center space-x-2 py-1 hover:bg-gray-100 rounded-md px-2">
                <input
                    type="checkbox"
                    name="work_types"
                    value="{{ work_type }}"
                    x-model="selectedWorkTypes"
                    class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded">
                <span class="text-nowrap">{{ work_type | capfirst }}s <span class="text-gray-600 font-normal">({{count}} works)</span></span>
            </label>
            {% endfor %}
        </div>
    </div>
</div>

<script>
function dropdownComponent() {
    return {
        open: false,
        selectedWorkTypes: {{ selected_work_types|safe }},
        allWorkTypes: {{all_work_types|safe}},

        toggleSelectAll() {
            if (this.selectedWorkTypes.length === this.allWorkTypes.length) {
                this.selectedWorkTypes = [];
            } else {
                this.selectedWorkTypes = [...this.allWorkTypes];
            }
        },

        get buttonLabel() {
            if ((this.selectedWorkTypes.length === this.allWorkTypes.length)
                || (this.selectedWorkTypes.length === 0)) {
                return 'All Work Types';
            } else if (this.selectedWorkTypes.length === 1) {
                return '1 Work Type';
            } else {
                return `${this.selectedWorkTypes.length} Work Types`;
            }
        }
    };
}
</script>
