{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Semantic Art Search</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
        <script src="https://kit.fontawesome.com/114f0c3f98.js" crossorigin="anonymous"></script>

	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">

		<!-- Base Navbar -->
		<nav class="bg-blue-500 p-4">
			<div class="container mx-auto flex justify-between items-center">
				<!-- Website Name -->
				<a href="{% url 'home' %}" class="text-blue-50 text-lg font-bold">Semantic Art Search</a>

				<!-- Links -->
				<div class="flex space-x-4">
				<a href="{% url 'text-search' %}"
   						class="text-blue-100 hover:text-blue-50 {% if request.resolver_match.url_name == 'text-search' %}text-blue-50 font-bold{% endif %}">
						Search by Text
					</a>
					<a href="{% url 'similarity-search' %}"
						class="text-blue-100 hover:text-blue-50 {% if request.resolver_match.url_name == 'similarity-search' %}text-blue-50 font-bold{% endif %}">
						Similarity Search
					</a>
					<a href="{% url 'about' %}"
						class="text-blue-100 hover:text-blue-50 {% if request.resolver_match.url_name == 'about' %}text-blue-50 font-bold{% endif %}">
						About
					</a>
				</div>
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>
