{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Semantic Art Search</title>
		<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- SEO: Meta Description -->
		<meta name="description" content="Explore art through meaning-driven search!">

		<!-- Open Graph (for social media previews) -->
		<meta property="og:title" content="Semantic Art Search"/>
  	<meta property="og:description" content="Explore art through meaning-driven search."/>
		<meta property="og:image" content="https://iip-thumb.smk.dk/iiif/jp2/kd17cx80w_KMSr171-crop.tif.jp2/full/!1024,/0/default.jpg"/>
		<meta property="og:url" content="https://semantic-art-search.com" />
		<meta property="og:type" content="website" />

		{% tailwind_css %}
		<style>
        [x-cloak] {
            display: none !important;
        }
    	</style>
		<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
		<script src="https://unpkg.com/htmx.org@2.0.4"></script>
	</head>

	<body class="bg-gray-50 font-serif leading-normal tracking-normal">

		<!-- Base Navbar -->
		<nav class="bg-blue-500 p-4">
			<div class="container mx-auto flex justify-between items-center">
				<!-- Website Name -->
				<a href="{% url 'home' %}" class="text-blue-50 text-lg font-bold">Semantic Art Search</a>
				<!-- Navbar links -->
				<div class="flex space-x-4 items-center">
					{% block nav_links %}
					{% endblock %}
				</div>
			</div>
		</nav>
		{% block content %}
		{% endblock %}
	</body>
</html>
